<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>ポケモン図鑑</title>
    </head>
    <body>
        <ul>
            <li th:each="pokemon : ${pokeList}">
                <td th:text = "${pokemon}"></td>
                <img th:src= "'http://www.pokestadium.com/assets/img/sprites/official-art/'+${pokemon}+'.png'"
                     th:alt="${pokemon}" th:title="${pokemon}">
            </li>
        </ul>
    </body>
</html>