<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>ポケモン図鑑</title>
    </head>
    <body>
        <ul>
            <li th:each="i,pokemon : ${pokeList}">
                <td th:text = "${pokemon.current}"></td>
                <a th:href="'http://localhost:8080/poke_book/' + ${pokemon.index+1}">詳細</a>
                <img th:src= "'http://www.pokestadium.com/assets/img/sprites/official-art/'+${pokemon.current}+'.png'"
                     th:alt="${pokemon.current}" th:title="${pokemon.current}">
            </li>
        </ul>
        <a></a>
    </body>
</html>